<h1>Pagina principal do administrador</h1>

<br>

<%= link_to 'pagina de geração de relatorios', 'genarate_report' %> <br>
<%= link_to 'pagina de estatistica de dados', 'statistic' %> <br>
<%= link_to 'pagina de requisições', 'request' %> <br>
<%= link_to 'pagina do perfil de usuario', 'account' %> <br>
